@{
    ViewData["Title"] = "تماس با ما";
}

<h1>تماس با ما</h1>
<hr />
<div class="row">
    <div class="col-md-3">
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">راه های تماس</div>
            <div class="card-body">
                <h5 class="card-title">ارتباط با ما</h5>
                <p class="card-text">031-3793-2897</p>
                <p class="card-text">0910-301-2550</p>
                <p class="card-text">hoseinshaemi@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card text-center">
            <div class="card-header">
                ویژه ها
            </div>
            <div class="card-body">
                <h5 class="card-title">به سایت ما خوش آمدید</h5>
                <p class="card-text">لطفا با دقت از سایت ما بازدید نمایید</p>
                <a asp-action="Index" class="btn btn-primary">صفحه اصلی</a>
            </div>
            <div class="card-footer text-muted">
                دو روز پیش
            </div>
        </div>
    </div>
</div>